/************
	ボディ部
*************/
div.contentstitle{
	font-weight:900;
	font-size: 160%;
	color:#ffffff;

	margin-bottom:20px;

	border-radius: 10px;

	background:	rgba(  255,0,0,0.90);

	transform: rotate(-1deg);
	box-shadow: 0px 1px 1px #430;

	text-shadow: 1px 2px 2px #400,
	3px 3px 5px #400,
	3px 3px 15px #400,
	3px 3px 25px #400;

	font-family: 'Noto Sans Japanese';

}

div#entries{
	min-width:300px;
	display:inline-block;
}

div#hetriestop{
	font-weight:900;
	font-size: 250%;
	color:#ffffff;

	margin-top:0px;
	margin-bottom:50px;
	margin-bottom: 0px;

	background: linear-gradient(0deg, rgba(  250,65,0,0), rgba(  250,65,0,1));

	text-shadow: 1px 2px 2px #400,
	3px 3px 5px #400,
	3px 3px 15px #400,
	3px 3px 25px #400;

	font-family: 'Noto Sans Japanese';
}

.entrytitle_r {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	background:	rgba(  255,0,0,0.95);

	margin-left:25px;
	margin-top:20px;

	transform: rotate(-1deg);
	box-shadow: 0px 1px 1px #430;

	text-shadow: 1px 2px 2px #400,
	3px 3px 5px #400,
	3px 3px 15px #400,
	3px 3px 25px #400;
}

.entrytitle_l {
	border-top-left-radius: 10px;
 	border-bottom-left-radius: 10px;

	background:	rgba(  255,0,0,0.92);

	transform: rotate(1deg);
	box-shadow: 0px 1px 1px #500;

	margin-right:25px;
	margin-top:20px;
	text-shadow: 1px 2px 2px #400,
	3px 3px 5px #400,
	3px 3px 15px #400,
	3px 3px 25px #400;
}

div.entrytitletext {
	font-size:180%;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 800;
}

a.entrylink {
	color: #fff8f8;
}

div.entrydate{
	margin-top: -10px;
	margin-left: 130px;
	font-size: 70%;
	color: #e0e0e0;
}

div.entrytext_r{
	text-align: left;
	background-color: #fffff8;
	color:#402028;
	font-size:150%;
	font-weight: 500;

	padding-left: 20px;
	padding-right: 10px;
	padding-top: 60px;
	padding-bottom: 30px;

	margin-top: -40px;
	margin-right: 20px;
	margin-left: 10px;

	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: -2px 2px 15px #444;

	font-family: "SF Pro JP","SF Pro Text","Apple TP","Myriad Set Pro","SF Pro Icons","Apple Legacy Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
}

div.entrytext_l{
	text-align: left;
	background-color: #fffffa;
	color:#402028;
	font-size:150%;
	font-weight: 500;

	padding-left: 20px;
	padding-right: 10px;
	padding-top: 60px;
	padding-bottom: 10px;

	margin-top: -40px;
	margin-right: 10px;
	margin-left: 20px;
	margin-bottom: 10px;

	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	box-shadow: 2px 2px 15px #444;

	font-family: "SF Pro JP","SF Pro Text","Apple TP","Myriad Set Pro","SF Pro Icons","Apple Legacy Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.extemb iframe{
	width: 100%;
  }
  
div.extemb{
	width: 100%;
}
  
  a.diary{
	border-bottom: thin solid #505050;
}

/* fbボタンのズレを防ぐ　*/
.fb_iframe_widget > span {
	vertical-align: baseline !important;
}

/************
	下部
*************/
div#btmlnk{
	height:43px;
	margin-top: 40px;

	width:100%;
	background-color: #101010;
	text-align: center;

}

a.nextprev {
	color: #f0f0f0;
	margin-left: 0px;
	font-size:150%;
}
a:hover.nextprev {
	color: #909090;
	font-size:150%;
}
a:active.nextprev {
	color: #909090;
	font-size:150%;
}
